<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.ego.myhome">

    <application
        android:name=".MyHomeApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyHome"
        >
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity"></activity>

        <activity android:name=".DomoticzLogin" />

        <activity android:name=".MainActivity" />
        <service
            android:name=".MyHomeStartService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="intent.worldline.MAPS" />
            </intent-filter>
        </service>
        <provider
            android:authorities="net.ego.myhome.providers.DevicesProvider"
            android:name=".providers.DevicesProvider" />
    </application>
    
    <uses-permission android:name="com.worldline.spica.permission.MAPS" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>